h1 {
  color: red;
  text-align: center;
  text-decoration: underline;
}
label {
  background-color: tomato;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
::placeholder {
  color: red;
  padding: 5px;
}
.pg {
  color: red;
  font-size: 20px;
}

input[type='submit'] {
  background-color: aqua;
  border: solid 2px;
  padding: 5px;
}
